<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway');
    .clear-both{clear: both;}
    .ow-container .bold{font-weight: bold;}
    .ow-container{font-family: 'Raleway', sans-serif; line-height: 150%; color: #2e3436; width: 1024px;}

    .ow-container .italic{font-style: italic;}
    .ow-container .xsmall-font{font-size: 60%;}
    .ow-container .small-font{font-size: 80%;}
    .ow-container .green{ color: #3c763d;}
    .ow-container .black{ color: #000;}

    .ow-container .ow-weather{
        width: 320px; float: left; margin-left: 10px;
    }

    .ow-container .ow-weather header{
        display: table;
        width: 320px;
    }
    .ow-container .ow-weather header .location {margin-left: 7px;}
    .ow-container .ow-weather header .location .bold {font-size: 150%;}
    .ow-container .ow-weather header .cell {display: table-cell; vertical-align: middle}
    .ow-container .ow-weather header .cell .temperature {font-weight: bold; font-size: 140%;}

    .ow-container table {
        display: table;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0px;
        max-width: 100%;
    }
    .ow-container table {width: inherit;  border: 1px solid #ddd;}
    .ow-container table td {padding: 10px;}
    .ow-container table tbody tr:nth-child(odd) {
        background-color: #eee;
    }
    .ow-container table.left,
    .ow-container table.right{
        width: 320px;
        float: left;
    }
    .ow-container table.right{
        margin-left: 10px;
    }
    .ow-weather .tables{
        width: 950px;
    }

    .blue-highlighted{border-radius: 90px; background-color: #00A5E3; padding: 5px 5px; color: #fff; font-size: 90%}
    .orange-highlighted{border-radius: 90px; background-color: #eea236; padding: 5px 5px; color: #fff; font-size: 90%}
    .green-highlighted{border-radius: 90px; background-color: #2ca02c; padding: 5px 5px; color: #fff; font-size: 90%}
</style>
<section class="ow-container">
    <div class="ow-weather">
        <header>
            <div class="location"><span class="bold">{{ weather.cityName() }}</span></div>
            <div>
                <div class="cell">
                    <img class="icon"
                         src="http://openweathermap.org/img/w/{{ weather.icon() }}.png"
                         alt="{{ weather.description() }}">
                </div>
                <div class="cell">
                    <span class="temperature">{{ weather.temp|kelvinToCelsius }} &deg;C</span>
                </div>
            </div>
        </header>
        <div class="tables">
            <table class="left">
                <tbody>
                <tr>
                    <td>Location:</td>
                    <td><span class="bold">{{ weather.cityName() }}</span>, {{ weather.country() }}</td>
                </tr>
                <tr>
                    <td>Weather Type:</td>
                    <td>{{ weather.description() }}</td>
                </tr>
                <tr>
                    <td>Temperature:</td>
                    <td><span class="blue-highlighted">{{ weather.temp|kelvinToCelsius }} &deg;C</span></td>
                </tr>
                <tr>
                    <td>Wind Speed:</td>
                    <td>{{ weather.windSpeed() }} m/s</td>
                </tr>
                <tr>
                    <td>Wind direction:</td>
                    <td>{{ weather.windDeg() }}</td>
                </tr>
                </tbody>
            </table>
            <div class="clear-both"></div>
        </div>
    </div>
</section>
